<%= content_tag_for :li, node, data: {node_id: node.id, label: node.label, url: node_path(node)}, class: css_class_for_node(node) do %>

  <% if node.children.any? %>
    <%= link_to tree_node_path(node, format: :js), class: 'toggle' do %>
      <i class="icon-caret-right"></i>
    <% end %>
  <% else %>
    <span class='toggle'>&nbsp;</span>
  <% end %>

  <%= link_to node.label, node %>

  <% if node.children.any? %>
    <%= content_tag :ul, data: {id: dom_id(node, 'menu')}, class: "children #{css_class_for_sub_nodes(node)}" do %>
      <% if node.ancestor_of?(@node) %>
        <%= render partial: "layouts/dradis/themes/snowcrash/node", collection: node.children %>
      <% else %>
        <li class="loading">Loading...</li>
        <li class="error">Loading error. Please try again.</li>
      <% end %>
    <% end %>
  <% end %>

<% end %>